$Black: #232536;
$Yellow: #FFD050;
$Purple: #592EA9;
$DarkGrey: #4C4C4C;
$Mediumgrey: #6D6E76;
$Lightgrey: #F4F4F4;
$Lavender: #F4F0F8;
$Lightyellow: #FBF6EA;
$Light : #FFFFFF;
$MediumBlack: #2E3040;

// poiner
$DarkGrey: #494A53;
$dark: #161722;
$darkBlack:  #000000;
$darkGray: #656672;
$lightgray:#D3D4D6;
$lighterGray: #BDBEC3;

// hover
$darkYellow:  #EDC14A;



