// background color
$darkBg: #232536;
$yellowBg: rgba(255, 208, 80, 1);
$yellow: rgba(237, 193, 74, 1);

// colors
$purple: #592ea9;
$darkGray: rgba(76, 76, 76, 1);
$mediumGray: #6d6e76;
$tranp: transparent;
$light: #ffffff;
$lightYellow: #fbf6ea;
$lightGrey: rgba(244, 244, 244, 1);
