// background color
$darkBg: #232536;
$yellowBg: rgba(255, 208, 80, 1);
$yellow: rgba(237, 193, 74, 1);

// colors
$purple: #592ea9;
$darkGray: rgba(76, 76, 76, 1);

$mediumGray: #6d6e76;
$lightYellow: #fbf6ea;
$beeBox: rgba(251, 246, 234, 1);
$lavader: rgba(244, 240, 248, 1);
$white: #ffffff;
$tranp: transparent;
$lightGrey: rgba(244, 244, 244, 1);
$light: rgba(255, 255, 255, 1);
