@font-face {
  font-family: "SenBold";
  src: url("/public/fonts/Sen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SenRegular";
  src: url("/public/fonts/Sen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.blogpage-main {
  width: 100%;
  padding: 0 8rem;
}

.blogpage__banner {
  margin: 0 -8rem;
  padding: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  background-color: #f4f0f8;
}
.blogpage__banner-content {
  width: 62.4rem;
}
.blogpage__banner--lable {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #232536;
  text-transform: uppercase;
}
.blogpage__banner--title {
  margin-top: 2rem;
  font-family: "Sen", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
}
.blogpage__banner--author {
  margin-top: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #4c4c4c;
  text-transform: capitalize;
}
.blogpage__banner--author span {
  color: #592ea9;
}
.blogpage__banner--discribe {
  margin-top: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #6d6e76;
}
.blogpage__banner--btn {
  margin-top: 3.2rem;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  width: 20.4rem;
  height: 5.6rem;
  line-height: 2.4rem;
  color: #232536;
  background-color: #ffd050;
  cursor: pointer;
}
.blogpage__banner--btn:hover {
  opacity: 0.9;
}

.blogpage__allpost {
  width: 100%;
  margin-top: 6.4rem;
}
.blogpage__allpost--title {
  font-family: "Sen", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
}
.blogpage__allpost--crossbar {
  width: 100%;
  height: 1px;
  margin-top: 3.2rem;
  background-color: #6d6e76;
}
.blogpage__allpost-card {
  width: 100%;
  padding-right: 13.3rem;
  margin: 6.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
.blogpage__allpost-card--lable {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #592ea9;
  text-transform: uppercase;
}
.blogpage__allpost-card--title {
  display: block;
  margin-top: 2rem;
  font-family: "Sen", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
}
.blogpage__allpost-card--discribe {
  margin-top: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #6d6e76;
}
.blogpage__allpost--prevnext {
  width: 100%;
  height: 40px;
  margin-bottom: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.blogpage__allpost--prev, .blogpage__allpost--next {
  font-family: "Sen", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #6d6e76;
  background-color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}
.blogpage__allpost--prev:hover, .blogpage__allpost--next:hover {
  font-family: "Sen", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
  color: #232536;
}

.blogpage__categories {
  width: 100%;
  margin-bottom: 12.8rem;
}
.blogpage__categories-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.blogpage__categories--title {
  margin-bottom: 4.8rem;
  font-family: "Sen", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}
.blogpage__categories--card {
  max-width: 29.6rem;
  padding: 3.2rem;
  box-sizing: border-box;
  border: 1px solid #6d6e76;
}
.blogpage__categories--card:hover {
  background-color: #ffd050;
}
.blogpage__categories-card--icon {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #fbf6ea;
}
.blogpage__categories-card--title {
  margin-top: 1.6rem;
  font-family: "Sen", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
  color: #232536;
  text-transform: capitalize;
}
.blogpage__categories-card--discribe {
  margin-top: 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #6d6e76;
}

.blogpage__join {
  margin-bottom: 12.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.blogpage__join-box {
  width: 41.4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.blogpage__join--title {
  font-family: "Sen", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  color: #232536;
  text-align: center;
}
.blogpage__join--discribe {
  margin-top: 1.6rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
  color: #6d6e76;
}
.blogpage__join--btn {
  margin-top: 3.2rem;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  width: 17.4rem;
  height: 5.6rem;
  line-height: 2.4rem;
  color: #232536;
  background-color: #ffd050;
  cursor: pointer;
}
.blogpage__join--btn:hover {
  opacity: 0.9;
}/*# sourceMappingURL=styles.css.map */