.join {
    margin: 0 auto;
    max-width: 41.4rem;
    width: 100%;
    text-align: center;

    &--heading {
        @include heading2;
    }

    &--text {
        @include textBody1;

        padding: 1.6rem 0 3.2rem 0;
    }

    &__btn {
        @include button($yellow);
    }
}
