body {
    margin: 0;
    padding: 0;
}
// reset css
*{
    padding: 0; margin:0;
    box-sizing: border-box; 
    outline: none; border: none;
    text-decoration: none;
  
}
html{
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}
/* độ rộng */
::-webkit-scrollbar{
    width: .8rem;
}
/* cái nút kéo */
::-webkit-scrollbar-thumb{
   background: linear-gradient(transparent,#30ff00);
   border-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}
/* cái thanh dài */
::-webkit-scrollbar-track{
    width: .8rem;
}